body{
	background-color: gray;
}
#pokedex{
	background-image: url('../img/Pokedex.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 500px;
	height: 600px;
	padding-left: 60%;
}
#pokeimg{
	width: 256px;
	height: 174px;
	background-color: green;
	

}