#stage{	
	width: 1020px;
	height: 768px;
	position: relative;
}
img{
	width:  368px;
	height: 199px;
	border-style: solid;
}
.img{
	height: 200px;
}
.cuadro{
	border-radius: 8px;
	margin: auto;
	text-align: center;
	margin-top: 20px;
	padding-top: 10px;	
}
.datos{
	margin: 40px 10px 20px 10px;
	height: 270px;
	width: 380px;
	background-color: white;
	text-align: center;
}
#card{
	float:left;
	background:url("../img/back-Electrico.png");
	width: 400px;
	height: 580px;
	border-radius: 15px;
	border-style: solid;
}
#nombre{
	padding-top: 20px;
	text-align: center;
}
